@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html {
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities {
    
    .bg-dark {
        background-color: #14121C;
    }

    .bg-orange {
        background-color: #F7C475;
    }

    .container {
        @apply w-full px-5 py-3;
    }
}